In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler, normalize
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA

import warnings


warnings.filterwarnings('ignore')

In [19]:
df = pd.read_csv('sales_data_sample.csv',sep=",",encoding='Latin-1')
df.head(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [21]:
df.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [22]:
df.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [23]:

df.shape

(2823, 25)

In [24]:
# concating MSRP and PRODUCT
df['MSRP_Product'] = df['MSRP'].astype(str) + df['PRODUCTCODE']

# dropping irrelevant columns
columns_to_drop = ['TERRITORY','STATE','ADDRESSLINE2','ADDRESSLINE1','PHONE','POSTALCODE',
                   'MSRP','PRODUCTCODE','CONTACTFIRSTNAME','CONTACTLASTNAME','ORDERDATE','ORDERNUMBER']
df.drop(columns=columns_to_drop, axis=1, inplace=True)

# changing datatypes from numeric to string 
df.QTR_ID = df.QTR_ID.astype(str)
df.MONTH_ID = df.MONTH_ID.astype(str)
df.YEAR_ID = df.YEAR_ID.astype(str)
df.ORDERLINENUMBER = df.ORDERLINENUMBER.astype(str)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   QUANTITYORDERED  2823 non-null   int64
 1   PRICEEACH        2823 non-null   float64
 2   ORDERLINENUMBER  2823 non-null   object
 3   SALES            2823 non-null   float64
 4   STATUS           2823 non-null   object
 5   QTR_ID           2823 non-null   object
 6   MONTH_ID         2823 non-null   object
 7   YEAR_ID          2823 non-null   object
 8   PRODUCTLINE      2823 non-null   object
 9   CUSTOMERNAME     2823 non-null   object
 10  CITY             2823 non-null   object
 11  COUNTRY          2823 non-null   object
 12  DEALSIZE         2823 non-null   object
 13  MSRP_Product     2823 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 308.9+ KB

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   QUANTITYORDERED  2823 non-null   int64
 1   PRICEEACH        2823 non-null   float64
 2   ORDERLINENUMBER  2823 non-null   object
 3   SALES            2823 non-null   float64
 4   STATUS           2823 non-null   object
 5   QTR_ID           2823 non-null   object
 6   MONTH_ID         2823 non-null   object
 7   YEAR_ID          2823 non-null   object
 8   PRODUCTLINE      2823 non-null   object
 9   CUSTOMERNAME     2823 non-null   object
 10  CITY             2823 non-null   object
 11  COUNTRY          2823 non-null   object
 12  DEALSIZE         2823 non-null   object
 13  MSRP_Product     2823 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 308.9+ KB

In [26]:
df

,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,CUSTOMERNAME,CITY,COUNTRY,DEALSIZE,MSRP_Product
0,30,95.70,2,2871.00,Shipped,1,2,2003,Motorcycles,Land of Toys Inc.,NYC,USA,Small,95S10_1678
1,34,81.35,5,2765.90,Shipped,2,5,2003,Motorcycles,Reims Collectables,Reims,France,Small,95S10_1678
2,41,94.74,2,3884.34,Shipped,3,7,2003,Motorcycles,Lyon Souveniers,Paris,France,Medium,95S10_1678
3,45,83.26,6,3746.70,Shipped,3,8,2003,Motorcycles,Toys4GrownUps.com,Pasadena,USA,Medium,95S10_1678
4,49,100.00,14,5205.27,Shipped,4,10,2003,Motorcycles,Corporate Gift Ideas Co.,San Francisco,USA,Medium,95S10_1678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,20,100.00,15,2244.40,Shipped,4,12,2004,Ships,Euro Shopping Channel,Madrid,Spain,Small,54S72_3212
2819,29,100.00,1,3978.51,Shipped,1,1,2005,Ships,"Oulu Toy Supplies, Inc.",Oulu,Finland,Medium,54S72_3212
2820,43,100.00,4,5417.57,Resolved,1,3,2005,Ships,Euro Shopping Channel,Madrid,Spain,Medium,54S72_3212
2821,34,62.24,1,2116.16,Shipped,1,3,2005,Ships,Alpha Cognac,Toulouse,France,Small,54S72_3212
2822,47,65.52,9,3079.44,On Hold,2,5,2005,Ships,Gifts4AllAges.com,Boston,USA,Medium,54S72_3212

In [27]:
df.to_csv('SalesDataMixed.csv', index=False) #this will be used for Kprototype modelling

## Dummy Transformation

In [14]:
cols = df.columns

num_cols = df._get_numeric_data().columns

num_cols

cat_cols = list(set(cols) - set(num_cols))

In [15]:
df_dummy = pd.get_dummies(data=df, columns=cat_cols, drop_first=True)
df_dummy

,QUANTITYORDERED,PRICEEACH,SALES,ORDERLINENUMBER_10,ORDERLINENUMBER_11,ORDERLINENUMBER_12,ORDERLINENUMBER_13,ORDERLINENUMBER_14,ORDERLINENUMBER_15,ORDERLINENUMBER_16,...,MONTH_ID_7,MONTH_ID_8,MONTH_ID_9,DEALSIZE_Medium,DEALSIZE_Small,QTR_ID_2,QTR_ID_3,QTR_ID_4,YEAR_ID_2004,YEAR_ID_2005
0,30,95.70,2871.00,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,34,81.35,2765.90,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,41,94.74,3884.34,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
3,45,83.26,3746.70,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,0
4,49,100.00,5205.27,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,20,100.00,2244.40,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,1,0
2819,29,100.00,3978.51,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2820,43,100.00,5417.57,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2821,34,62.24,2116.16,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2822,47,65.52,3079.44,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1

In [17]:
list(df_dummy.columns)

['QUANTITYORDERED',
 'PRICEEACH',
 'SALES',
 'ORDERLINENUMBER_10',
 'ORDERLINENUMBER_11',
 'ORDERLINENUMBER_12',
 'ORDERLINENUMBER_13',
 'ORDERLINENUMBER_14',
 'ORDERLINENUMBER_15',
 'ORDERLINENUMBER_16',
 'ORDERLINENUMBER_17',
 'ORDERLINENUMBER_18',
 'ORDERLINENUMBER_2',
 'ORDERLINENUMBER_3',
 'ORDERLINENUMBER_4',
 'ORDERLINENUMBER_5',
 'ORDERLINENUMBER_6',
 'ORDERLINENUMBER_7',
 'ORDERLINENUMBER_8',
 'ORDERLINENUMBER_9',
 'PRODUCTLINE_Motorcycles',
 'PRODUCTLINE_Planes',
 'PRODUCTLINE_Ships',
 'PRODUCTLINE_Trains',
 'PRODUCTLINE_Trucks and Buses',
 'PRODUCTLINE_Vintage Cars',
 'MSRP_Product_100S700_3505',
 'MSRP_Product_101S18_2949',
 'MSRP_Product_101S700_2824',
 'MSRP_Product_102S18_1342',
 'MSRP_Product_102S32_4485',
 'MSRP_Product_104S18_3136',
 'MSRP_Product_105S18_3856',
 'MSRP_Product_107S24_3432',
 'MSRP_Product_109S24_1785',
 'MSRP_Product_112S24_1578',
 'MSRP_Product_115S12_4675',
 'MSRP_Product_115S50_1392',
 'MSRP_Product_116S18_1097',
 'MSRP_Product_117S12_3380',
 'MSRP_Product_117S24_2887',
 'MSRP_Product_118S10_2016',
 'MSRP_Product_118S12_4473',
 'MSRP_Product_118S24_4048',
 'MSRP_Product_118S700_2834',
 'MSRP_Product_121S18_4600',
 'MSRP_Product_122S18_2319',
 'MSRP_Product_122S24_2011',
 'MSRP_Product_124S18_1589',
 'MSRP_Product_127S18_2325',
 'MSRP_Product_127S24_2300',
 'MSRP_Product_132S18_2870',
 'MSRP_Product_136S10_4757',
 'MSRP_Product_136S12_1666',
 'MSRP_Product_136S18_3140',
 'MSRP_Product_140S24_3856',
 'MSRP_Product_141S18_1129',
 'MSRP_Product_141S18_3685',
 'MSRP_Product_142S18_1984',
 'MSRP_Product_143S18_4027',
 'MSRP_Product_146S18_3482',
 'MSRP_Product_147S10_4962',
 'MSRP_Product_148S18_4721',
 'MSRP_Product_150S12_2823',
 'MSRP_Product_151S12_3148',
 'MSRP_Product_157S18_1662',
 'MSRP_Product_163S18_2238',
 'MSRP_Product_168S18_2795',
 'MSRP_Product_169S18_3232',
 'MSRP_Product_170S18_1749',
 'MSRP_Product_173S12_3891',
 'MSRP_Product_193S10_4698',
 'MSRP_Product_194S12_1099',
 'MSRP_Product_207S12_1108',
 'MSRP_Product_214S10_1949',
 'MSRP_Product_33S24_1937',
 'MSRP_Product_35S24_2840',
 'MSRP_Product_37S24_2972',
 'MSRP_Product_40S32_2206',
 'MSRP_Product_41S24_3969',
 'MSRP_Product_43S50_1341',
 'MSRP_Product_44S24_2022',
 'MSRP_Product_49S72_1253',
 'MSRP_Product_50S18_4668',
 'MSRP_Product_50S24_1628',
 'MSRP_Product_53S18_1367',
 'MSRP_Product_54S32_2509',
 'MSRP_Product_54S72_3212',
 'MSRP_Product_57S24_1444',
 'MSRP_Product_58S50_1514',
 'MSRP_Product_60S18_2248',
 'MSRP_Product_60S18_2432',
 'MSRP_Product_60S18_2625',
 'MSRP_Product_61S24_3371',
 'MSRP_Product_62S18_2957',
 'MSRP_Product_62S18_3782',
 'MSRP_Product_62S32_3207',
 'MSRP_Product_64S32_3522',
 'MSRP_Product_65S24_3420',
 'MSRP_Product_66S700_1138',
 'MSRP_Product_68S24_2841',
 'MSRP_Product_68S24_3949',
 'MSRP_Product_68S32_4289',
 'MSRP_Product_69S24_2360',
 'MSRP_Product_71S18_4933',
 'MSRP_Product_72S24_4278',
 'MSRP_Product_72S700_2610',
 'MSRP_Product_73S24_1046',
 'MSRP_Product_74S700_4002',
 'MSRP_Product_76S24_2000',
 'MSRP_Product_77S18_1889',
 'MSRP_Product_79S12_3990',
 'MSRP_Product_80S18_3278',
 'MSRP_Product_80S24_4620',
 'MSRP_Product_80S700_3167',
 'MSRP_Product_81S50_4713',
 'MSRP_Product_83S24_3816',
 'MSRP_Product_84S18_2581',
 'MSRP_Product_85S24_3191',
 'MSRP_Product_86S18_3029',
 'MSRP_Product_86S700_1938',
 'MSRP_Product_87S18_4522',
 'MSRP_Product_88S24_3151',
 'MSRP_Product_90S24_2766',
 'MSRP_Product_90S700_2047',
 'MSRP_Product_91S700_1691',
 'MSRP_Product_92S18_4409',
 'MSRP_Product_95S10_1678',
 'MSRP_Product_96S32_1268',
 'MSRP_Product_97S24_4258',
 'MSRP_Product_99S18_3320',
 'MSRP_Product_99S32_1374',
 'MSRP_Product_99S700_2466',
 'MSRP_Product_99S700_3962',
 'COUNTRY_Austria',
 'COUNTRY_Belgium',
 'COUNTRY_Canada',
 'COUNTRY_Denmark',
 'COUNTRY_Finland',
 'COUNTRY_France',
 'COUNTRY_Germany',
 'COUNTRY_Ireland',
 'COUNTRY_Italy',
 'COUNTRY_Japan',
 'COUNTRY_Norway',
 'COUNTRY_Philippines',
 'COUNTRY_Singapore',
 'COUNTRY_Spain',
 'COUNTRY_Sweden',
 'COUNTRY_Switzerland',
 'COUNTRY_UK',
 'COUNTRY_USA',
 'CUSTOMERNAME_Alpha Cognac',
 'CUSTOMERNAME_Amica Models & Co.',
 "CUSTOMERNAME_Anna's Decorations, Ltd",
 'CUSTOMERNAME_Atelier graphique',
 'CUSTOMERNAME_Australian Collectables, Ltd',
 'CUSTOMERNAME_Australian Collectors, Co.',
 'CUSTOMERNAME_Australian Gift Network, Co',
 'CUSTOMERNAME_Auto Assoc. & Cie.',
 'CUSTOMERNAME_Auto Canal Petit',
 'CUSTOMERNAME_Auto-Moto Classics Inc.',
 'CUSTOMERNAME_Baane Mini Imports',
 'CUSTOMERNAME_Bavarian Collectables Imports, Co.',
 'CUSTOMERNAME_Blauer See Auto, Co.',
 'CUSTOMERNAME_Boards & Toys Co.',
 'CUSTOMERNAME_CAF Imports',
 'CUSTOMERNAME_Cambridge Collectables Co.',
 'CUSTOMERNAME_Canadian Gift Exchange Network',
 'CUSTOMERNAME_Classic Gift Ideas, Inc',
 'CUSTOMERNAME_Classic Legends Inc.',
 'CUSTOMERNAME_Clover Collections, Co.',
 'CUSTOMERNAME_Collectable Mini Designs Co.',
 'CUSTOMERNAME_Collectables For Less Inc.',
 'CUSTOMERNAME_Corporate Gift Ideas Co.',
 'CUSTOMERNAME_Corrida Auto Replicas, Ltd',
 'CUSTOMERNAME_Cruz & Sons Co.',
 'CUSTOMERNAME_Daedalus Designs Imports',
 'CUSTOMERNAME_Danish Wholesale Imports',
 'CUSTOMERNAME_Diecast Classics Inc.',
 'CUSTOMERNAME_Diecast Collectables',
 'CUSTOMERNAME_Double Decker Gift Stores, Ltd',
 'CUSTOMERNAME_Dragon Souveniers, Ltd.',
 'CUSTOMERNAME_Enaco Distributors',
 'CUSTOMERNAME_Euro Shopping Channel',
 'CUSTOMERNAME_FunGiftIdeas.com',
 'CUSTOMERNAME_Gift Depot Inc.',
 'CUSTOMERNAME_Gift Ideas Corp.',
 'CUSTOMERNAME_Gifts4AllAges.com',
 'CUSTOMERNAME_Handji Gifts& Co',
 'CUSTOMERNAME_Heintze Collectables',
 'CUSTOMERNAME_Herkku Gifts',
 'CUSTOMERNAME_Iberia Gift Imports, Corp.',
 "CUSTOMERNAME_L'ordine Souveniers",
 "CUSTOMERNAME_La Corne D'abondance, Co.",
 'CUSTOMERNAME_La Rochelle Gifts',
 'CUSTOMERNAME_Land of Toys Inc.',
 'CUSTOMERNAME_Lyon Souveniers',
 'CUSTOMERNAME_Marseille Mini Autos',
 "CUSTOMERNAME_Marta's Replicas Co.",
 "CUSTOMERNAME_Men 'R' US Retailers, Ltd.",
 'CUSTOMERNAME_Microscale Inc.',
 'CUSTOMERNAME_Mini Auto Werke',
 'CUSTOMERNAME_Mini Caravy',
 'CUSTOMERNAME_Mini Classics',
 'CUSTOMERNAME_Mini Creations Ltd.',
 'CUSTOMERNAME_Mini Gifts Distributors Ltd.',
 'CUSTOMERNAME_Mini Wheels Co.',
 'CUSTOMERNAME_Motor Mint Distributors Inc.',
 'CUSTOMERNAME_Muscle Machine Inc',
 'CUSTOMERNAME_Norway Gifts By Mail, Co.',
 'CUSTOMERNAME_Online Diecast Creations Co.',
 'CUSTOMERNAME_Online Mini Collectables',
 'CUSTOMERNAME_Osaka Souveniers Co.',
 'CUSTOMERNAME_Oulu Toy Supplies, Inc.',
 'CUSTOMERNAME_Petit Auto',
 'CUSTOMERNAME_Quebec Home Shopping Network',
 'CUSTOMERNAME_Reims Collectables',
 'CUSTOMERNAME_Rovelli Gifts',
 'CUSTOMERNAME_Royal Canadian Collectables, Ltd.',
 'CUSTOMERNAME_Royale Belge',
 'CUSTOMERNAME_Salzburg Collectables',
 'CUSTOMERNAME_Saveley & Henriot, Co.',
 'CUSTOMERNAME_Scandinavian Gift Ideas',
 'CUSTOMERNAME_Signal Collectibles Ltd.',
 'CUSTOMERNAME_Signal Gift Stores',
 'CUSTOMERNAME_Souveniers And Things Co.',
 'CUSTOMERNAME_Stylish Desk Decors, Co.',
 'CUSTOMERNAME_Suominen Souveniers',
 'CUSTOMERNAME_Super Scale Inc.',
 'CUSTOMERNAME_Technics Stores Inc.',
 'CUSTOMERNAME_Tekni Collectables Inc.',
 'CUSTOMERNAME_The Sharp Gifts Warehouse',
 'CUSTOMERNAME_Tokyo Collectables, Ltd',
 'CUSTOMERNAME_Toms Spezialitten, Ltd',
 'CUSTOMERNAME_Toys of Finland, Co.',
 'CUSTOMERNAME_Toys4GrownUps.com',
 'CUSTOMERNAME_UK Collectables, Ltd.',
 'CUSTOMERNAME_Vida Sport, Ltd',
 'CUSTOMERNAME_Vitachrome Inc.',
 'CUSTOMERNAME_Volvo Model Replicas, Co',
 'CUSTOMERNAME_West Coast Collectables Co.',
 'CUSTOMERNAME_giftsbymail.co.uk',
 'STATUS_Disputed',
 'STATUS_In Process',
 'STATUS_On Hold',
 'STATUS_Resolved',
 'STATUS_Shipped',
 'CITY_Allentown',
 'CITY_Barcelona',
 'CITY_Bergamo',
 'CITY_Bergen',
 'CITY_Boras',
 'CITY_Boston',
 'CITY_Brickhaven',
 'CITY_Bridgewater',
 'CITY_Brisbane',
 'CITY_Bruxelles',
 'CITY_Burbank',
 'CITY_Burlingame',
 'CITY_Cambridge',
 'CITY_Charleroi',
 'CITY_Chatswood',
 'CITY_Cowes',
 'CITY_Dublin',
 'CITY_Espoo',
 'CITY_Frankfurt',
 'CITY_Gensve',
 'CITY_Glen Waverly',
 'CITY_Glendale',
 'CITY_Graz',
 'CITY_Helsinki',
 'CITY_Kobenhavn',
 'CITY_Koln',
 'CITY_Las Vegas',
 'CITY_Lille',
 'CITY_Liverpool',
 'CITY_London',
 'CITY_Los Angeles',
 'CITY_Lule',
 'CITY_Lyon',
 'CITY_Madrid',
 'CITY_Makati City',
 'CITY_Manchester',
 'CITY_Marseille',
 'CITY_Melbourne',
 'CITY_Minato-ku',
 'CITY_Montreal',
 'CITY_Munich',
 'CITY_NYC',
 'CITY_Nantes',
 'CITY_Nashua',
 'CITY_New Bedford',
 'CITY_New Haven',
 'CITY_Newark',
 'CITY_North Sydney',
 'CITY_Osaka',
 'CITY_Oslo',
 'CITY_Oulu',
 'CITY_Paris',
 'CITY_Pasadena',
 'CITY_Philadelphia',
 'CITY_Reggio Emilia',
 'CITY_Reims',
 'CITY_Salzburg',
 'CITY_San Diego',
 'CITY_San Francisco',
 'CITY_San Jose',
 'CITY_San Rafael',
 'CITY_Sevilla',
 'CITY_Singapore',
 'CITY_South Brisbane',
 'CITY_Stavern',
 'CITY_Strasbourg',
 'CITY_Torino',
 'CITY_Toulouse',
 'CITY_Tsawassen',
 'CITY_Vancouver',
 'CITY_Versailles',
 'CITY_White Plains',
 'MONTH_ID_10',
 'MONTH_ID_11',
 'MONTH_ID_12',
 'MONTH_ID_2',
 'MONTH_ID_3',
 'MONTH_ID_4',
 'MONTH_ID_5',
 'MONTH_ID_6',
 'MONTH_ID_7',
 'MONTH_ID_8',
 'MONTH_ID_9',
 'DEALSIZE_Medium',
 'DEALSIZE_Small',
 'QTR_ID_2',
 'QTR_ID_3',
 'QTR_ID_4',
 'YEAR_ID_2004',
 'YEAR_ID_2005']

In [18]:
# Saving data transformed
df_dummy.to_csv('SalesDummyData.csv',index=False)